html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Gotham Light", Sans-serif;
	font-size: 14px;
	background-color: #0e0e0e;
}

.menu {
	width: 26px;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.background {
	width: 100%;
	opacity: 0.2;
	margin-bottom: 60px;
	border-bottom: solid #dbc295 1px;
}

.background-2 {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.2;
	margin-top: 60px;
	margin-bottom: 20px;
	border-bottom: solid #dbc295 1px;
}

.positions {
	position: relative;
}

.button1 {
	margin-bottom: 60px;
	text-align: center;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: none;
	position: absolute;
	text-align: center;
}

.filter {
	margin: 0;
	display: inline-block;
	color: #dbc295;
	font-size: 12px;
}

.drop-down {
	margin: 0;
	display: inline-block;
	width: 8px;
	margin-left: 2px;
}

.spacing {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.filters {
	display: inline-block;
	color: #dbc295;
	font-size: 12px;
}

.boats {
	text-align: center;
}

.text {
	text-align: center;
	margin-bottom: 40px;
}

.thumbnail {
	display: inline-block;
	margin: 0;
	width: 260px;
	margin-left: 4px;
	margin-right: 4px;
	filter: grayscale(100%);
}

.thumbnail:hover {
	opacity: 0.7;
}

.thumbnail-title {
	display: inline-block;
	margin: 0;
	color: #dbc295;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	width: 260px;
	margin-left: 4px;
	margin-right: 4px;
}

.thumbnail-title:hover {
	opacity: 0.7;
}

.page-switch {
	text-align: center;
}

.pages {
	display: inline-block;
	color: #dbc295;
	margin-top: 40px;
	margin-bottom: 100px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 11px;
	padding-bottom: 9px;
	border: solid #dbc295 1px;
	border: solid #dbc295 1px;
}

.copyright {
	display: inline-block;
	margin-left: 5%;
	color: #dbc295;
	font-size: 12px;
	margin-bottom: 40px;
}

.content-2 {
	display: none;
}

.content-3 {
	display: none;
}

/* Responsive */

@media (max-width: 840px) {
	.content-3 {
		display: block;
	}
	.main-content {
		display: none;
	}
	.thumbnail {
		width: 80%;
	}
}
